body {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.705);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(222, 222, 250, 0.753); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.705); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 16, 2, 0.644); 
}
