@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.todo__wrap {
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

.todo__icons {
  float: right;
  /* background: rgb(0, 25, 248); */
}

.todo__edit {
  color: rgba(0, 0, 0, 0.705);
}
